
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Contact</h1>

<f:flashMessages />

<table  class="tx_annuairefamo" >
	<tr>
		<th><f:translate key="tx_annuairefamo_domain_model_contact.lastname" /></th>
		<th><f:translate key="tx_annuairefamo_domain_model_contact.firstname" /></th>
		<th><f:translate key="tx_annuairefamo_domain_model_contact.phone" /></th>
		<th><f:translate key="tx_annuairefamo_domain_model_contact.email" /></th>
		<th><f:translate key="tx_annuairefamo_domain_model_contact.address" /></th>
		<th><f:translate key="tx_annuairefamo_domain_model_contact.zipcode" /></th>
		<th><f:translate key="tx_annuairefamo_domain_model_contact.city" /></th>
		<th><f:translate key="tx_annuairefamo_domain_model_contact.picture" /></th>
		<th><f:translate key="tx_annuairefamo_domain_model_contact.presentation" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{contacts}" as="contact">
		<tr>
			<td><f:link.action action="show" arguments="{contact : contact}"> {contact.lastname}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contact : contact}"> {contact.firstname}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contact : contact}"> {contact.phone}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contact : contact}"> {contact.email}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contact : contact}"> {contact.address}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contact : contact}"> {contact.zipcode}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contact : contact}"> {contact.city}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contact : contact}"> {contact.picture.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contact : contact}"> {contact.presentation}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{contact : contact}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{contact : contact}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Contact</f:link.action>
</f:section>