
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Organization</h1>

<f:flashMessages />

<table  class="tx_annuairefamo" >
	<tr>
		<th><f:translate key="tx_annuairefamo_domain_model_organization.business_name" /></th>
		<th><f:translate key="tx_annuairefamo_domain_model_organization.address" /></th>
		<th><f:translate key="tx_annuairefamo_domain_model_organization.zipcode" /></th>
		<th><f:translate key="tx_annuairefamo_domain_model_organization.city" /></th>
		<th><f:translate key="tx_annuairefamo_domain_model_organization.phone" /></th>
		<th><f:translate key="tx_annuairefamo_domain_model_organization.fax" /></th>
		<th><f:translate key="tx_annuairefamo_domain_model_organization.email" /></th>
		<th><f:translate key="tx_annuairefamo_domain_model_organization.description" /></th>
		<th><f:translate key="tx_annuairefamo_domain_model_organization.siret" /></th>
		<th><f:translate key="tx_annuairefamo_domain_model_organization.logo" /></th>
		<th><f:translate key="tx_annuairefamo_domain_model_organization.schedule" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{organizations}" as="organization">
		<tr>
			<td><f:link.action action="show" arguments="{organization : organization}"> {organization.businessName}</f:link.action></td>
			<td><f:link.action action="show" arguments="{organization : organization}"> {organization.address}</f:link.action></td>
			<td><f:link.action action="show" arguments="{organization : organization}"> {organization.zipcode}</f:link.action></td>
			<td><f:link.action action="show" arguments="{organization : organization}"> {organization.city}</f:link.action></td>
			<td><f:link.action action="show" arguments="{organization : organization}"> {organization.phone}</f:link.action></td>
			<td><f:link.action action="show" arguments="{organization : organization}"> {organization.fax}</f:link.action></td>
			<td><f:link.action action="show" arguments="{organization : organization}"> {organization.email}</f:link.action></td>
			<td><f:link.action action="show" arguments="{organization : organization}"> {organization.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{organization : organization}"> {organization.siret}</f:link.action></td>
			<td><f:link.action action="show" arguments="{organization : organization}"> {organization.logo.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{organization : organization}"> {organization.schedule}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{organization : organization}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{organization : organization}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Organization</f:link.action>
</f:section>