<f:layout name="Default"/>

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    <div class="row">
        <div class="col-sm-6 text-left">
            <h1>{organization.businessName}</h1>
        </div>
        <div class="col-sm-6 text-right">
            <f:link.action action="list" class="btn btn-primary">Back to list</f:link.action>
        </div>
    </div>

<f:flashMessages />
<f:render partial="Organization/Properties" arguments="{organization:organization}" />
<h1 style="margin-top: 40px">Contacts de l'organisme</h1>
<f:render partial="Contact/List" arguments="{contacts: contacts}" />
</f:section>