
<table class="tx-annuaire-famo" >
	<tr>
		<td>
			<f:translate key="tx_annuairefamo_domain_model_organization.business_name" />
		</td>
		<td>
		{organization.businessName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairefamo_domain_model_organization.address" />
		</td>
		<td>
		{organization.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairefamo_domain_model_organization.zipcode" />
		</td>
		<td>
		{organization.zipcode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairefamo_domain_model_organization.city" />
		</td>
		<td>
		{organization.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairefamo_domain_model_organization.phone" />
		</td>
		<td>
		{organization.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairefamo_domain_model_organization.fax" />
		</td>
		<td>
		{organization.fax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairefamo_domain_model_organization.email" />
		</td>
		<td>
		{organization.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairefamo_domain_model_organization.description" />
		</td>
		<td>
		{organization.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairefamo_domain_model_organization.siret" />
		</td>
		<td>
		{organization.siret}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairefamo_domain_model_organization.logo" />
		</td>
		<td>
				<f:image src="{organization.logo.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairefamo_domain_model_organization.schedule" />
		</td>
		<td>
		{organization.schedule}
		</td>
	</tr>
</table>