<ul class="tx-annuaire-famo">
    <f:if condition="{organization.businessName}">
        <f:then>
            <li>
                <f:translate key="tx_annuairefamo_domain_model_organization.business_name"/>
                : {organization.businessName}
            </li>
        </f:then>
    </f:if>
    <f:if condition="{organization.address}">
        <f:then>
            <li>
                <f:translate key="tx_annuairefamo_domain_model_organization.address"/>
                : {organization.address}
            </li>
        </f:then>
    </f:if>
    <f:if condition="{organization.zipcode}">
        <f:then>
            <li>
                <f:translate key="tx_annuairefamo_domain_model_organization.zipcode"/>
                : {organization.zipcode}
            </li>
        </f:then>
    </f:if>
    <f:if condition="{organization.city}">
        <f:then>
            <li>
                <f:translate key="tx_annuairefamo_domain_model_organization.city"/>
                : {organization.city}
            </li>
        </f:then>
    </f:if>
    <f:if condition="{organization.phone}">
        <f:then>
            <li>
                <f:translate key="tx_annuairefamo_domain_model_organization.phone"/>
                : {organization.phone}
            </li>
        </f:then>
    </f:if>
    <f:if condition="{organization.fax}">
        <f:then>
            <li>
                <f:translate key="tx_annuairefamo_domain_model_organization.fax"/>
                : {organization.fax}
            </li>
        </f:then>
    </f:if>
    <f:if condition="{organization.email}">
        <f:then>
            <li>
                <f:translate key="tx_annuairefamo_domain_model_organization.email"/>
                : {organization.email}
            </li>
        </f:then>
    </f:if>
    <f:if condition="{organization.description}">
        <f:then>
            <li>
                <f:translate key="tx_annuairefamo_domain_model_organization.description"/>
                : {organization.description}
            </li>
        </f:then>
    </f:if>
    <f:if condition="{organization.siret}">
        <f:then>
            <li>
                <f:translate key="tx_annuairefamo_domain_model_organization.siret"/>
                : {organization.siret}
            </li>
        </f:then>
    </f:if>
    <f:if condition="{organization.logo}">
        <f:then>
            <li>
                <f:translate key="tx_annuairefamo_domain_model_organization.logo"/>
                :
                <f:image src="{organization.logo.originalResource.publicUrl}" height="50N"/>
            </li>
        </f:then>
    </f:if>
    <f:if condition="{organization.schedule}">
        <f:then>
            <li>
                <f:translate key="tx_annuairefamo_domain_model_organization.schedule"/>
                : {organization.schedule}
            </li>
        </f:then>
    </f:if>
</ul>