<ul class="tx-annuaire-famo">
    <f:if condition="{contact.firstname}">
        <f:then>
            <li>
                <f:translate key="tx_annuairefamo_domain_model_contact.firstname"/>
                : {contact.firstname}
            </li>
        </f:then>
    </f:if>

    <f:if condition="{contact.lastname}">
        <f:then>
            <li>
                <f:translate key="tx_annuairefamo_domain_model_contact.lastname"/>
                : {contact.lastname}
            </li>
        </f:then>
    </f:if>

    <f:if condition="{contact.phone}">
        <f:then>
            <li>
                <f:translate key="tx_annuairefamo_domain_model_contact.phone"/>
                : {contact.phone}
            </li>
        </f:then>
    </f:if>

    <f:if condition="{contact.email}">
        <f:then>
            <li>
                <f:translate key="tx_annuairefamo_domain_model_contact.email"/>
                : {contact.email}
            </li>
        </f:then>
    </f:if>

    <f:if condition="{contact.address}">
        <f:then>
            <li>
                <f:translate key="tx_annuairefamo_domain_model_contact.address"/>
                : {contact.address}
            </li>
        </f:then>
    </f:if>

    <f:if condition="{contact.zipcode}">
        <f:then>
            <li>
                <f:translate key="tx_annuairefamo_domain_model_contact.zipcode"/>
                : {contact.zipcode}
            </li>
        </f:then>
    </f:if>

    <f:if condition="{contacts}">
        <f:then>
            <li>
                <f:translate key="tx_annuairefamo_domain_model_contact.city"/>
                : {contact.city}
            </li>
        </f:then>
    </f:if>

    <f:if condition="{contact.picture}">
        <f:then>
            <li>
                <f:translate key="tx_annuairefamo_domain_model_contact.picture"/>
                :
                <f:image src="{contact.picture.originalResource.publicUrl}" height="50"/>
            </li>
        </f:then>
    </f:if>

    <f:if condition="{contact.presentation}">
        <f:then>
            <li>
                <f:translate key="tx_annuairefamo_domain_model_contact.presentation"/>
                : <f:format.html>{contact.presentation}</f:format.html>
            </li>
        </f:then>
    </f:if>
</ul>