
<table class="tx-annuaire-famo" >
	<tr>
		<td>
			<f:translate key="tx_annuairefamo_domain_model_contact.lastname" />
		</td>
		<td>
		{contact.lastname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairefamo_domain_model_contact.firstname" />
		</td>
		<td>
		{contact.firstname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairefamo_domain_model_contact.phone" />
		</td>
		<td>
		{contact.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairefamo_domain_model_contact.email" />
		</td>
		<td>
		{contact.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairefamo_domain_model_contact.address" />
		</td>
		<td>
		{contact.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairefamo_domain_model_contact.zipcode" />
		</td>
		<td>
		{contact.zipcode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairefamo_domain_model_contact.city" />
		</td>
		<td>
		{contact.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairefamo_domain_model_contact.picture" />
		</td>
		<td>
				<f:image src="{contact.picture.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairefamo_domain_model_contact.presentation" />
		</td>
		<td>
		{contact.presentation}
		</td>
	</tr>
</table>