<div class="row">
    <div class="col-lg-4">
        <f:form pluginName="pi1" controller="Contact" action="list" name="search" object="{search}" objectName="search">
            <div class="input-group add-on">
                <f:form.textfield property="terms" name="terms" placeholder="Search" class="form-control"/>
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </f:form>
    </div>
</div>